<div id="tabs">
  <ul>
    <li></li>
     <li><a href="/groups/my_groups/<%= current_user.id%>"><span>My Groups</span></a></li>
    <li><a href="/my_joins"><span>Followings</span></a></li>
    <li><a href="/groups/"><span>Group Directory</span></a></li>
    <li><a href="/groups/new"><span>Create Group</span></a></li>
    </ul>
</div>