<div id="tabs">
  <ul>
    <li></li>
    <li><a href="/messages/inbox/<%= current_user.id%>"><span>Inbox</span></a></li>
    <li><a href="/messages/sentbox/<%= current_user.id%>"><span>Sent</span></a></li>
    <li><a href="/messages/new"><span>Compose Mail</span></a></li>
    </ul>
</div>