<div id="tabs">
  <ul>
    <li></li>
    <li><a href="/jobs/"><span>Find Jobs</span></a></li>
    <li><a href="/jobs/advance_search/<%= current_user.id %>"><span>Advanced Search Options</span></a></li>
    </ul>
</div>