<div id="tabs">
  <ul>
    <li></li>
    <li><a href=""><span>Hiring Solutions</span></a></li>
    <li><a href="/groups/"><span>Post a Job</span></a></li>
    <li><a href="/groups/new"><span>Manage Jobs</span></a></li>
   
    </ul>
</div>