/* Profile Styles */
td.label {
text-align: left;
font-weight: bold;
white-space: nowrap;

 
}
input
{
font-family: Arial, Helvetica, sans-serif;
}
.edit_link a {
text-decoration: none;
color: #390;
}
#left_column {
float: left;
width: 400px;
margin-left: 50px;
}
#main_content {
    margin-left: 100px;
}
.sidebar_box {
background-color: white;
border: 1px solid #aaa;
font-size: 12px;
margin-bottom: 10px;

}
.sidebar_box h2 {
margin-top: 0px;
padding: 6px;
background-color:#145871;
font-size: 13px;
color:  #9BD8ED !important;
font-weight:bold;
}
.sidebar_box p {
padding-left: 6px;
padding-right: 6px;
}
.sidebar_box .header {
float: left;
}
.sidebar_box .edit_link {
float: right;
}
/* FAQ Style */
.faq {
float: left;
padding: 20px;
}
#bio {
padding: 10px;
}
.sidebar_box_contents, .faq_answer {
padding: 0 10px 10px 10px;
}
.faq_answer textarea {
width: 280px;
background: #ff9;
}

fieldset {
background: #8ab3d1;
}
legend {
color: white;
background: #145871;
padding: .4em 1em;
}
label {

float: left;
text-align: right;
margin-right: 0.2em;
display: block;
}
.form_row {
white-space: nowrap;
padding-bottom: .5em;
}
.submit {
margin-left: 15em;
}


/* Blog Styles */

.post {
  display: block;
  margin-bottom: 1.5em;
  width:70%;
}
.post_title {
  font-weight: bold;
}
.post_body {
  padding: 1em;
}
.post_creation_date, .post_modification_date {
  text-align: right;
}
.post_actions {
  float: right;
}


/* Comment Styles */

.comment {
  min-height: 90px;
}

.thumbnail {
  display: block;
  float: left;
  margin-right: 1em;
}