<ul class="tabs">
  <li><span ><%= link_to "Received Messages" ,{:controller => 'messages', :action => 'inbox'} %></span></li>
<li><span><%= link_to "Sent Messages", {:controller => 'messages', :action => 'sentbox'} %></span></li>


</ul>