	
<h1>Create a publication</h1>
 <ul class="tabs">
<li><a href="/uploads/new"><span>Upload a document</span></a></li>
<li><a href="#"><span>Upload multiple documents</span></a></li>
<li><a href="/upload_from_internet/new"><span>Upload from internet</span></a></li>
<li><a href="/upload_text/new"><span>Upload text</span></a></li>
</ul>

