<div id="tabs">
  <ul>
    <li></li>
    <li><a href="/events"><span>Event Home</span></a></li>
    <li><a href="/events/myevents/<%= current_user.id %>"><span>My Events</span></a></li>
    <li><a href="/events/new"><span>Add an Event</span></a></li>
    </ul>
</div>