<div id="tabs">
  <ul>
    <li></li>
    <li><a href="/profiles/editindex"><span>Edit My Profile</span></a></li>
    <li><a href="/profiles/show"><span>View My Profile</span></a></li>
    </ul>
</div>