<div style="margin-left:20px;">
<p>
  <b>Group type name:</b>
  <%=h @group_type.group_type_name %>
</p>


<%= link_to 'Edit', edit_group_type_path(@group_type) %> |
<%= link_to 'Back', group_types_path %>
</div>