<h2><%= link_to 'Your Blog Posts', blog_posts_path %>: Add a new post</h2>

<% form_for(:post, :url => blog_posts_path) do |form| %>
<fieldset>
  <legend>Blog Post Details</legend> 
  <%= render :partial => "form", :locals => { :form => form } %>
  <%= submit_tag "Create", :class => "submit" %> 
</fieldset>
<% end %>