<div id="tabs">
  <ul>
    <li></li>
    <li><a href="/"><span>Posts</span></a></li>
    <li><a href="/videos/"><span>Videos</span></a></li>
    <li><a href="/sounds"><span>Audio</span></a></li>
    <li><a href="/groups/"><span>Photos</span></a></li>
   
    </ul>
</div>